.hobbies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.hobby {
    width: 25%;
    height: 200px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.hobby dt {
    margin-bottom: 20px;
    width: 100%;
}
