.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.skill {
    width: 500px;
    height: 300px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;
    padding: 40px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.skill-detail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.skill h3 {
    width: 100%;
}
.skill-detail dt {
    padding-right: 10px;
    width: 20%;
    text-align: right;
}
.skill .icon {
    position: absolute;
    font-size: 7rem;
    color: rgba(190, 161, 161, 0.2)
}
.skill-detail dd {
    width: 30%;
}
.skill-detail p {
    text-align: left;
    width: 50%;
}

