.App {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

/* Common */
.section-title {
  padding-bottom: 100px;
}

.section-title h2 {
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}

/* header */
header {
display: flex;
justify-content: space-around;
align-items: center;
background-color: #ee827c;
/* position: fixed; */
width: 100%;
z-index: 10;
height: 90px;
}

header .logo h3 {
  font-size: 40px;
  color: #fff;
}
nav ul {
  margin: 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #e8d3d1;
}


/* footer */
footer {
  background-color: #ee827c;
  height: 80px;
  text-align: center;
}

footer p {
  line-height: 80px;
  color: #fff;
}

/* HomePage */
.top-image {
  height: 400px;
  background-color: rgb(224, 224, 224);
  text-align: center;
}

/* ProfilePage */
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
ul.timeline-list {
  position: relative;
  margin: 0;
  padding: 0;
}
ul.timeline-list:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: #ee827c;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
ul.timeline-list li {
  position: relative;
  clear: both;
  display: table;
  width: 100%;
}
.timeline-content {
  border: 2px solid #ee827c;
	background-color: #fff;
}
ul.timeline-list li .timeline-content {
  width: 45%;
	color: #333;
	padding: 30px;
	float: left;
	text-align: right;
}
ul.timeline-list li:nth-child(2n) .timeline-content {
  float: right;
	text-align: left;
}
.timeline-content h3{
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}
ul.timeline-list li:before {
  position: absolute;
  content: "";
	width: 25px;
	height: 25px;
	background-color: #ee827c;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 50%;
}
.timeline-content span {
  font-size: 18px;
	font-weight: 600;
	font-family: poppins;
	color: #ee827c;
}





